
@media (max-width: 767px) {

	body {
		padding: 0 30px;
	}

	.header {
		padding: 30px 0;
	}

	.wrapper {
		width: auto;
	}

	.header {

		h1 {
			clear: both;
			float: none;
			font-size: 45px;
		}

	}

	.header .nav {
		float: left
	}
	.header .nav li {
		display: block;
		float: left;

		&.break {
			clear: left
		}
	}

}
