@import "compass/css3";
@import "sprites/*.png";
@include all-sprites-sprites;


@mixin title{
    text-shadow: 4px 4px 0 #ccc;
}

@mixin transitionAll($time: .1s){
    @include transition-property(all);
    @include transition-duration($time);
    @include transition-timing-function(ease-in-out);
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #444;
}
body {
    background: url('../img/background_white.png');
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #8e2424;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #8e2424;
    color: #fff;
    text-shadow: none;
}
a{ color: #000; text-decoration: none;}
a:hover{ color: #444;}
a:focus{outline: thin dotted;}
a:hover,a:active{outline: 0;}
.fl{ float: left;}
.fr{ float: right;}
.cb{ clear: both;}
.center{ text-align: center;}
header{ display: block;}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

/* =============================================================================
    HEADER
   ========================================================================== */
header{
    height: 70px;
    line-height: 70px;
    background: #222;
}
h1{
    float: left;
    margin: 0;
    color: #efefef;
    font-size: 32px;
}
#header_right{
    float: right;
    line-height: 70px;

    .text_link{
        float: left;
        margin: 0 30px 0 0;
        text-transform: uppercase;
        color: #efefef;
        font-size: 25px;

        &.selected{
            color: lighten(#8e2424, 30%);
        }
    }

    .sep{
        display: inline-block;
        width: 2px;
        height: 50px;
        margin: 10px 0 10px 0;
        background: #efefef;
    }

    .icons{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 10px 0 10px 20px;
    }
}

/* =============================================================================
    Footer
   ========================================================================== */
footer {
    height: 30px;
    background: #222;
    color: #ddd;

    a {
        color: #fff;
    }
}

/* =============================================================================
    MOBILE
   ========================================================================== */

/* iPhone 4 ----------- */
@media only screen and (max-width : 320px) {
    #wrapper {
        width: 100%;
        padding: 0 20px;
        header { width: 100%; margin: 30px 0 30px 0;}
    }
    h1, .h1like { font-size: 33px;}
    .h1like { text-align: center;}
    h2 { font-size: 22px;}
    .leftBlock { margin-top: 20px;}
    .leftBlock, .rightBlock {
        width: 100%;
        clear: both;
        float: none;
        margin: 0;

        div{ text-align: center;}
        li:last-child{ margin: 0;}
    }
    .contactText {
        font-size: 20px;
    }
}

/* =============================================================================
    LAB
   ========================================================================== */
.wrapper_lab {

    h2 {
        @include title;
        font-size: 30px;
    }

    ul {
        margin-left: 110px;
    }

    li {
        float: none;
        clear: both;
        background: none;
        width: auto;
        height: 30px;
        list-style: circle;

        a {
            @include transitionAll(.2s);
            display: inline-block;
            width: 100%;
            height: 30px;

            span {
                display: inline-block;
                opacity: 0;
                filter: alpha(opacity=0);
                color: #666;
                @include transitionAll(.2s);
            }
            &:hover {
                text-indent: 10px;

                span {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }
            }
        }
    }
}

/* =============================================================================
    ABOUT
   ========================================================================== */
.about {
    width: 800px;
    margin: 0 auto;

    section {
        float: right;
        width: 600px;
        margin: 0 0 20px 0;
        border-bottom: 1px solid #ccc;
    }

    h3 {
        float: left;
        width: 200px;
        height: 28px;
        margin: 0;
        font-size: 20px;
        line-height: 28px;
        font-weight: normal;
    }

    h4 {
        height: 28px;
        margin: 0;
        font-size: 16px;
        line-height: 28px;
        font-weight: bold;
    }

    .date {
        margin: 0 0 5px 0;
        font-size: 14px;
        font-style: italic;
    }
}