body{
	margin: 0;
	padding: 0;
	background: url("../../img/background_white.png");
	color: #E7E7E7;
	font-family: sans-serif;
}
#wrapper{
	width: 1000px;
	margin: 0 auto;
}

h1{
	text-align: center;
	font-size: 70px;
	text-shadow: 5px 7px 0 #000;
}
a{
	color: #efefef;
	text-decoration: none;
}
a:hover{
	color: #fff;
	text-decoration: underline;
}

ul{
	list-style: square;
}
li{
	margin-bottom: 10px;
}

::selection{
	background: #8e2424;
	color: #fff;
	text-shadow: none;
}

::-moz-selection{
	background: #8e2424;
	color: #fff;
	text-shadow: none;
}