@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
body{
	margin: 0;
	padding: 0;
	background-image: -webkit-radial-gradient(center center, circle, #222, #000);
	background-image: -moz-radial-gradient(center center, circle, #222, #000);
	font-family: sans-serif;
}
#wrapper{
	width: 1200px;
	margin: 0 auto;
}
#wrapper div{
	margin-bottom: 50px;
}
h1{
	font-family: 'Press Start 2P', sans-serif;
	font-size: 50px;
	text-align: center;
}
h1 a{
	color: #333;
	text-shadow: 2px 2px 0 #f00;
	text-decoration: none;
	-webkit-transition: all 1s;
	transition: all 1s;
}
h1 a:hover{
	color: #000;
	text-shadow: 4px 4px 0 #f00;
}
.center{ text-align: center; color: #ccc;}
button{
	display: block;
	width: 200px;
	height: 40px;
	margin: 0 auto;
	border: none;
	background: #333;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
}
button:hover{
	background: #222;
}
#bottomLink{
	margin-top: 40px;
	font-size: 14px;
}
#bottomLink a{
	color: #ccc;
	text-decoration: none;
}
#bottomLink a:hover{
	text-decoration: underline;
}
video{ display: none;}
#primaryCanvas{ display: none;}
#secondaryCanvas{
	display: block;
	height: 500px;
	width: 700px;
	margin: 0 auto;
}