<div>
    <ul id="music-select" class="music-select">
        <li data-all>All</li>
        <li data-band="romain-berger">Romain Berger</li>
        <li data-band="undisclosed-dimensions">Undisclosed Dimensions</li>
        <li data-band="vessel-of-demise">Vessel Of Demise</li>
        <li data-band="brain-collapse">Brain Collapse</li>
        <li data-band="suicidal-massacre">Suicidal Massacre</li>
        <li data-band="sihtu">Sihtu</li>
    </ul>
</div>
<div class="music-list" id="music-list">
    <a href="/music/vessel-of-demise-the-betrayer" data-band="vessel-of-demise">
        <img src="/assets/betrayer.jpg" />
        <div>Vessel Of Demise - The Betrayer</div>
    </a>
    <a href="/music/undisclosed-dimensions-awakening" data-band="undisclosed-dimensions">
        <img src="/assets/awakening.jpg" />
        <div>Undisclosed Dimensions - Awakening</div>
    </a>
    <a href="/music/romain-berger-solipsism" data-band="romain-berger">
        <img src="/assets/solipsism.jpg" />
        Romain Berger - Solipsism
    </a>
    <a href="/music/brain-collapse-shred-it-til-you-make-it" data-band="brain-collapse">
        <img src="/assets/shred-it.jpg" />
        Brain Collapse - Shred it til you make it
    </a>
    <a href="/music/suicidal-massacre-architect-of-annihilation" data-band="suicidal-massacre">
        <img src="/assets/architect.jpg" />
        Suicidal Massacre - Architect Of Annihilation
    </a>
    <a href="/music/suicidal-massacre-architect-let-the-massacre-begin" data-band="suicidal-massacre">
        <img src="/assets/massacre.jpg" />
        Suicidal Massacre - Let The Massacre Begin
    </a>
    <a href="/music/sihtu-vitriol" data-band="sihtu">
        <img src="/assets/vitriol.jpg" />
        Sihtu - V.I.T.R.I.O.L
    </a>
</div>
