<div>
    <ul id="music-select">
        <li>All</li>
        <li  data-band="rb">Romain Berger</li>
        <li  data-band="ud">Undisclosed Dimensions</li>
        <li  data-band="vod">Vessel Of Demise</li>
        <li  data-band="bc">Brain Collapse</li>
        <li  data-band="sm">Suicidal Massacre</li>
        <li  data-band="s">Sihtu</li>
    </ul>
</div>
<div class="music-list" id="music-list">
    <a href="/music/vessel-of-demise-the-betrayer" data-band="vod">
        <img src="/assets/betrayer.jpg" />
        <div>Vessel Of Demise - The Betrayer</div>
    </a>
    <a href="/music/undisclosed-dimensions-awakening" data-band="ud">
        <img src="/assets/awakening.jpg" />
        <div>Undisclosed Dimensions - Awakening</div>
    </a>
    <a href="/music/romain-berger-solipsism" data-band="rb">
        <img src="/assets/solipsism.jpg" />
        Romain Berger - Solipsism
    </a>
    <a href="/music/brain-collapse-shred-it-til-you-make-it" data-band="bc">
        <img src="/assets/shred-it.jpg" />
        Brain Collapse - Shred it til you make it
    </a>
    <a href="/music/suicidal-massacre-architect-of-annihilation" data-band="sm">
        <img src="/assets/architect.jpg" />
        Suicidal Massacre - Architect Of Annihilation
    </a>
    <a href="/music/suicidal-massacre-architect-let-the-massacre-begin" data-band="sm">
        <img src="/assets/massacre.jpg" />
        Suicidal Massacre - Let The Massacre Begin
    </a>
    <a href="/music/sihtu-vitriol" data-band="s">
        <img src="/assets/vitriol.jpg" />
        Sihtu - V.I.T.R.I.O.L
    </a>
</div>
