html,
.wrap {
	height: 100%;
}
.wrap {
	height: auto;
	min-height: 100%;
}
.main {
	padding-bottom: 98px;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: Helvetica, sans-serif;
	color: $baseColor;
}

::selection {
	background: $baseColor;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: $baseColor;
	color: #fff;
	text-shadow: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: $linkColor;
	text-decoration: none;
}
a:hover {
	color: $baseColor;
}

.fl { float: left}
.fr { float: right}
.cb { clear: both}

/* =============================================================================
	Header
   ========================================================================== */

.header {
	padding: 60px 0 40px 0;
	background: url(/static/img/border.png) left bottom repeat-x;

	h1 {
		float: left;
		margin: 0 70px 0 0;
		font-size: 50px;
	}

	a h1 {
		color: $baseColor;
	}

	.nav {
		height: 57px;
	}
	.nav li {
		display: inline-block;
		height: 57px;
		margin-right: 40px;
		font-size: 25px;
		line-height: 2.6;
	}

}


/* =============================================================================
	Footer
   ========================================================================== */

.footer {
	position: relative;
	height: 18px;
	padding: 30px 0 50px 0;
	background: url(/static/img/border.png) left top repeat-x;

	a {
		display: inline-block;
		margin-right: 30px;
	}
}

/* =============================================================================
	Web
   ========================================================================== */
.os-block {
	margin-bottom: 20px;
	padding: 10px;
	@include border-radius(5px);
	border: 1px solid $lightGrey;
	@include box-shadow(0 0 3px rgba(0, 0, 0, .3))
}
