html,
.wrap {
	height: 100%;
}
.wrap {
	height: auto;
	min-height: 100%;
}
.main {
	padding-bottom: 128px;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: Helvetica, sans-serif;
	color: $baseColor;
}

::selection {
	background: $baseColor;
	color: #fff;
	text-shadow: none;
}
::-moz-selection {
	background: $baseColor;
	color: #fff;
	text-shadow: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	color: $linkColor;
	text-decoration: none;
}
a:hover {
	color: $baseColor;
	text-decoration: underline;
}

.fl { float: left}
.fr { float: right}
.cb { clear: both}
.underline { text-decoration: underline}

/* =============================================================================
	Header
   ========================================================================== */

.header {
	padding: 60px 0 40px 0;
	background: url(/static/img/border.png) left bottom repeat-x;

	h1 {
		float: left;
		margin: 0 70px 0 0;
		font-size: 50px;
	}

	a h1 {
		color: $baseColor;
	}

	.nav {
		height: 57px;
	}
	.nav li {
		display: inline-block;
		height: 57px;
		margin-right: 40px;
		font-size: 25px;
		line-height: 2.6;

		&.current {
			border-bottom: 4px solid $linkColor;
		}
	}

}


/* =============================================================================
	Footer
   ========================================================================== */

.footer {
	position: relative;
	height: 18px;
	padding: 30px 0 50px 0;
	background: url(/static/img/border.png) left top repeat-x;

	a {
		display: inline-block;
		margin-right: 30px;
	}
}

/* =============================================================================
	About
   ========================================================================== */
.resume-button {
	margin: 0;
	padding: 0;
	color: $baseColor;
	border: none;
	background: #fff;
}
.resume-button:hover {
	text-decoration: underline;
}
.resume {
	display: none;
}

/* =============================================================================
	Web
   ========================================================================== */
.os-block {
	margin-bottom: 20px;
	padding: 10px;
	@include border-radius(5px);
	border: 1px solid $lightGrey;
	@include box-shadow(0 0 3px rgba(0, 0, 0, .3))
}
.web-title {
	margin-top: 50px;
}
.web-site {
	margin-bottom: 50px
}
.site-list dt {
	margin: 25px 0 10px 0;
	font-size: 20px;
}
.site-list dd {
	margin: 0;
	padding: 0;
}
