{% extends 'base.html' %}

{% block title %}Romain Berger :: About{% endblock %}

{% block body %}
<h2>About</h2>
<p>I am a web developer working at <a href="http://bbsconcept.com" title="BBS Concept">BBS Concept</a> in Paris</p>
<div>
	<h2>Experience</h2>
	<section>
		<h4>Web developer, <a href="http://bbsconcept.com" target="_blank" title="BBS Concept">BBS Concept</a></h4>
		<p class="date">April 2012 - Present</p>
		<ul>
			<li>Front end &amp; back end development for web sites and web application like <a href="http://stickaz.com" target="_blank" title="Stickaz">Stickaz.com</a></li>
			<li>HTML5, CSS3, JavaScript, jQuery</li>
			<li>Prestashop, Symfony 2, Zend, Wordpress</li>
		</ul>
	</section>
	<section>
		<h4>Telemarketer, Call Center Factory</h4>
		<p class="date">October 2008 - July 2011</p>
		<ul>
			<li>B to C and B to B sales</li>
			<li>Quality service</li>
		</ul>
	</section>
	<h3>Education</h3>
	<section>
		<h4>Bachelor degree: Conception and integration of multimedia products and services, Tarbes' university</h4>
		<p class="date">September 2011 - June 2012</p>
		<ul>
			<li>Web development</li>
			<li>Video production: filming and editing</li>
		</ul>
	</section>
	<section>
		<h4>University degree: Marketing technics, Tarbes' university</h4>
		<p class="date">September 2006 - June 2008</p>
		<ul>
			<li>Marketing</li>
			<li>Communication</li>
		</ul>
	</section>
	<h3>Skills</h3>
	<section>
		<ul class="skills_list">
			<li>HTML5, XHTML</li>
			<li>CSS2, CSS3</li>
			<li>JavaScript</li>
			<li>jQuery, Mootools</li>
			<li>PHP5, MySql5</li>
			<li>Prestashop, Symfony 2, Zend, Wordpress</li>
			<li>Git, SVN</li>
			<li>Illustrator, Photoshop</li>
			<li>Basic knowledge in Python, development with Django and Flask</li>
			<li>Node.js</li>
			<li>Languages: French &amp; English</li>
		</ul>
	</section>
</div>
{% endblock %}
