{% extends 'base.html' %}

{% block title %}Romain Berger :: Contact{% endblock %}

{% block body %}
<h2>Contact</h2>

<p>To contact me you can send me an email at <a href="mailto:romain@romainberger.com" title="Mail Romain Berger">romain@romainberger.com</a> or on twitter <a href="http://twitter.com/romain__berger" title="Twitter Romain Berger" target="_blank">@romain__berger</a>.</p>
<p>You can also contact me on <a href="https://www.facebook.com/romainbergerband" title="Facebook Romain Berger" target="_blank">Facebook</a> if it's about music.</p>
{% endblock %}
