{% extends 'base.html' %}

{% block body %}
<div class="header">
    <div class="bg"></div>
    <div class="masthead hero-unit mobile-padding">
        <div class="container">
            <h1>Hi.</h1>
            <h1 class="second">I am Romain Berger</h1>
        </div>
    </div>
</div>
<div class="container mobile-padding">
    <p class="marketing-line">I am a web developer at BBS Concept / Stickaz</p>
    <p></p>
    <div class="marketing">
        <h1>Latest work</h1>
    </div>
</div>
{% endblock %}