{% extends 'base.html' %}

{% block title %}Romain Berger :: Lab{% endblock %}

{% block body %}
<h2>Lab</h2>
<dl class="lab-list">
	<dt>Image to CSS3 - Simple useless JavaScript script to convert image to pure CSS3</dt>
	<dd><a href="/image-to-css3" title="Image to CSS3">Demo</a> - <a href="#" title="Image to CSS3 Github">Github</a></dd>

	<dt>Pixelbooth - Pixelated photobooth</dt>
	<dd><a href="/pixelbooth" title="Pixelbooth">Demo</a> - <a href="#" title="Pixelbooth Github">Github</a></dd>

	<dt>CSS3 Stickaz logo - No images, just CSS</dt>
	<dd><a href="/stickaz-logo-css3" title="CSS3 Stickaz logo">Demo</a> - <a href="#" title="CSS3 Stickaz logo Codepen">Codepen</a></dd>

	<dt></dt>
</dl>
{% endblock %}
